@keyframes mymove {
  0%	{opacity: 1}
1%	{opacity: 0.99}
2%	{opacity: 0.98}
3%	{opacity: 0.97}
4%	{opacity: 0.96}
5%	{opacity: 0.95}
6%	{opacity: 0.94}
7%	{opacity: 0.93}
8%	{opacity: 0.92}
9%	{opacity: 0.91}
10%	{opacity: 0.90}
11%	{opacity: 0.89}
12%	{opacity: 0.88}
13%	{opacity: 0.87}
14%	{opacity: 0.86}
15%	{opacity: 0.85}
16%	{opacity: 0.84}
17%	{opacity: 0.83}
18%	{opacity: 0.82}
19%	{opacity: 0.81}
20%	{opacity: 0.80}
21%	{opacity: 0.79}
22%	{opacity: 0.78}
23%	{opacity: 0.77}
24%	{opacity: 0.76}
25%	{opacity: 0.75}
26%	{opacity: 0.74}
27%	{opacity: 0.73}
28%	{opacity: 0.72}
29%	{opacity: 0.71}
30%	{opacity: 0.70}
31%	{opacity: 0.69}
32%	{opacity: 0.68}
33%	{opacity: 0.67}
34%	{opacity: 0.66}
35%	{opacity: 0.65}
36%	{opacity: 0.64}
37%	{opacity: 0.63}
38%	{opacity: 0.62}
39%	{opacity: 0.61}
40%	{opacity: 0.60}
41%	{opacity: 0.59}
42%	{opacity: 0.58}
43%	{opacity: 0.57}
44%	{opacity: 0.56}
45%	{opacity: 0.55}
46%	{opacity: 0.54}
47%	{opacity: 0.53}
48%	{opacity: 0.52}
49%	{opacity: 0.51}
50%	{opacity: 0.50}
51%	{opacity: 0.49}
52%	{opacity: 0.48}
53%	{opacity: 0.47}
54%	{opacity: 0.46}
55%	{opacity: 0.45}
56%	{opacity: 0.44}
57%	{opacity: 0.43}
58%	{opacity: 0.42}
59%	{opacity: 0.41}
60%	{opacity: 0.40}
61%	{opacity: 0.39}
62%	{opacity: 0.38}
63%	{opacity: 0.37}
64%	{opacity: 0.36}
65%	{opacity: 0.35}
66%	{opacity: 0.34}
67%	{opacity: 0.33}
68%	{opacity: 0.32}
69%	{opacity: 0.31}
70%	{opacity: 0.30}
71%	{opacity: 0.29}
72%	{opacity: 0.28}
73%	{opacity: 0.27}
74%	{opacity: 0.26}
75%	{opacity: 0.25}
76%	{opacity: 0.24}
77%	{opacity: 0.23}
78%	{opacity: 0.22}
79%	{opacity: 0.21}
80%	{opacity: 0.20}
81%	{opacity: 0.19}
82%	{opacity: 0.18}
83%	{opacity: 0.17}
84%	{opacity: 0.16}
85%	{opacity: 0.15}
86%	{opacity: 0.14}
87%	{opacity: 0.13}
88%	{opacity: 0.12}
89%	{opacity: 0.11}
90%	{opacity: 0.10}
91%	{opacity: 0.09}
92%	{opacity: 0.08}
93%	{opacity: 0.07}
94%	{opacity: 0.06}
95%	{opacity: 0.05}
96%	{opacity: 0.04}
97%	{opacity: 0.03}
98%	{opacity: 0.02}
99%	{opacity: 0.01}
100%	{opacity: 0}
}

.loader {
  border-radius: 35%;
  width: 200px;
  height: 200px;
  animation-name: mymove;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.loader img {
  border-radius: 35%;
}